body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    direction: rtl;
    text-align: center;
}

.container {
    margin-top: 50px;
}

#videoGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
}

.video-container {
    position: relative;
    display: inline-block;
}

.delete-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
